
body {
  background-color: #030307
}

#avatar__selection {
  margin-right: 10px;
  display: flex;
  gap: 1em;
}

.avatar__option {
  height: 50px;
  width: 50px;
  border-radius: 50%;
  cursor: pointer;
  transition: 0.3s;
  border: 2px solid #797a79;
}

.avatar__option__selected {
  border: 3px solid #845695;
}

#planet {
  position: fixed;
  bottom: 0;
  left: 0;
  width: 100vw;  /* Full width of the viewport */
  height: auto;  /* Auto height to maintain aspect ratio */
  z-index: -1;  /* Behind the content */
}


.star {
  position: absolute;
  width: 20px;
  height: 20px;
  animation: twinkle var(--twinkle-duration) infinite;
}
@keyframes twinkle {
  0%, 100% { opacity: 0.2; }
  50% { opacity: 1; }
}


.stars, .twinkling {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  width: 100%;
  height: 100%;
  display: block;
}

.stars {
  background: #000 url('https://i.imgur.com/YKY28eT.png') repeat top center;
  z-index: -2;
}

.twinkling {
  background: transparent url('https://i.imgur.com/XYMF4ca.png') repeat top center;
  z-index: -1;
  animation: move-twink-back 200s linear infinite;
}

@keyframes move-twink-back {
  from {background-position: 0 0;}
  to {background-position: -10000px 5000px;}
}
